#wowhead
</br>
[center]
[url=//www.wowhead.com/guide=4595/legion-dungeon-overview#legion-dungeons-and-guides]{% include.1 %}[/url]
[url=//www.wowhead.com/guides/mythic-keystones-and-dungeons#party-composition-and-preparation]{% include.2 %}[/url]
[url=//www.wowhead.com/guides/mythic-keystones-and-dungeons#mythic-keystones]{% include.3 %}[/url]
[url=//www.wowhead.com/guides/mythic-keystones-and-dungeons#mythic-affixes]{% include.4 %}[/url]
[url=//www.wowhead.com/guides/mythic-keystones-and-dungeons#loot]{% include.5 %}[/url]
[url=//www.wowhead.com/guides/mythic-keystones-and-dungeons#appearances]{% include.6 %}[/url]
[/center]

[toc]
Le système des donjons Mythique+ est un nouveau mode de contenu qui offre aux joueurs un défi sans fin dans les donjons à 5 joueurs. Le système permet aux joueurs de concurrencer une minuterie, similaire au Mode Défi, mais a des temps beaucoup plus doux, de sorte que l'accent est mis sur une exécution solide plutôt que sur une vitesse pure.

[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10599.jpg]
Insérez une pierre angulaire mythique dans la police de puissance pour commencer[/minibox]

[major-heading]Aperçu du Mythic+[/major-heading]
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
Tous les donjons de Légion ont un mode Mythique+, sauf Assault on Violet Hold.

[minor-heading]Début d'un Donjon Mythique+[/minor-heading]
Pour commencer un Donjon Mythique+, au moins un joueur de la partie doit avoir une Pierre Mythique.
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
Cela obligera tous les joueurs à recharger leur UI, placer un mur vert fantomatique devant la fête et commencer un compte à rebours de 10 secondes. Lorsque cela atteint 0, le mur est supprimé et la minuterie Mythic + commence.

[minor-heading]Completing a Mythic+ Dungeon[/minor-heading]
As in Challenge Modes in previous expansions, the players' aim is to defeat all of the bosses in the dungeon, as well as a set amount of trash, before the Mythic+ timer expires.

[b]7.2.5 Update: The way that  Mythic Keystone updates after completing or not completing a dungeon has changed.[/b]

[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]

A UI toast window will pop up when you complete the dungeon, displaying whether you beat the timer or not. This window also shows how many levels the Keystone is upgraded by if you successfully beat the timer.

[minor-heading]Mythic+ Lockouts[/minor-heading]
The Mythic+ dungeon system has no lockouts.
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]

Mythic+ dungeons do not share a lockout with "regular" Mythic dungeons - they are separate systems. You can do all of your Mythic dungeons for the week and still receive loot from Mythic+ dungeons, and vice versa.

[minor-heading]Patch 7.2.5 Changes[/minor-heading]
[ul]
[li][/li]
[li]
[ul]
[li][/li]
[li][/li]
[/ul]
[/li]
[li][/li]
[li]
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
[/li]
[/ul]
[hr]
[major-heading]Party Composition and Preparation[/major-heading]
[minibox float=right]
[table border=3 class=grid]
[tr][td colspan=3][b]Enemy Health/Damage Modifiers[/b][/td][/tr]
[tr][td]Level[/td][td]Pre 7.2.5 Modifier %[/td][td]Post 7.2.5 Modifier %[/td][/tr]
[tr][td]Mythic[/td]	[td]n/a[/td][td]n/a[/td][/tr]
[tr][td]2[/td][td]+8%[/td][td]+10%[/td][/tr]
[tr][td]3[/td][td]+17%[/td][td]+21%[/td][/tr]
[tr][td]4[/td][td]+26%[/td][td]+33%[/td][/tr]
[tr][td]5[/td][td]+36%[/td][td]+46%[/td][/tr]
[tr][td]6[/td][td]+45%[/td][td]+61%[/td][/tr]
[tr][td]7[/td][td]+59%[/td][td]+77%[/td][/tr]
[tr][td]8[/td][td]+71%[/td][td]+95%[/td][/tr]
[tr][td]9[/td][td]+85%[/td][td]+114%[/td][/tr]
[tr][td]10[/td][td]+100%[/td][td]+136%[/td][/tr]
[tr][td]11[/td][td]+116%[/td][td]+159%[/td][/tr]
[tr][td]12[/td][td]+133%[/td][td]+185%[/td][/tr]
[tr][td]13[/td][td]+152%[/td][td]+214%[/td][/tr]
[tr][td]14[/td][td]+172%[/td][td]+245%[/td][/tr]
[tr][td]15[/td][td]+194%[/td][td]+280%[/td][/tr]
[/table]
[/minibox]
To attempt a Mythic+ dungeon, players should bring:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
[b]You cannot change party members once you have begun a Mythic+ dungeon.[/b] If one of your players disconnects, or leaves the group, the dungeon must be reset in order to refill the group. This will lower your Keystone by one level in Patch 7.2.5.

Mythic+ dungeons, at least up to level 10, are balanced so that proper execution is a bigger factor in the party's success than any particular composition.

That said, it is also beneficial to have at least one source of the following utility functions:
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
AoE/cleave DPS and single-target DPS are both important. While trash does constitute the majority of a Mythic+ dungeon, the bosses can often become extremely dangerous, especially at higher Mythic+ levels, and quickly defeating them can be the difference between success and failure.

You cannot change talents or specs while [b]inside[/b] the dungeon once you have begun. However, you can zone out of the dungeon and use a  Tome of the Tranquil Mind to change your talents before re-entering.

[minor-heading]Mythic+ Dungeon Guides[/minor-heading]
Brush up on Mythic+ encounter mechanics with our Dungeon Strategy Guides - all Mythic-specific mechanics, including trash mechanics, are described in detail!
[br][br]
[table class=flex-columns]
[tr]
	[td][url=/guide=4587][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-lord-kurtalos-ravencrest.png][br]Black Rook Hold[/center][/url][/td]
	[td][url=/guide=4585][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-advisor-melandrus.png][br]Court of Stars[/center][/url][/td]
	[td][url=/guide=4583][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-shade-of-xavius.png][br]Darkheart Thicket[/center][/url][/td]
	[td][url=/guide=4545][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-wrath-of-azshara.png][br]Eye of Azshara[/center][/url][/td]
	[td][url=/guide=4588][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-odyn.png][br]Halls of Valor[/center][/url][/td]
[/tr]
[tr]
	[td][url=/guide=4586][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-helya.png][br]Maw of Souls[/center][/url][/td]
	[td][url=/guide=4544][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-dargrul-the-underking.png][br]Neltharion's Lair[/center][/url][/td]
	[td][url=/guide=4584][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-advisor-vandros.png][br]The Arcway[/center][/url][/td]
	[td][url=/guide=4547][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-cordana.png][br]Vault of the Wardens[/center][/url][/td]
[/tr]
[/table]
[br][br]
Three new dungeons are added to Mythic+ in Patch 7.2. Note that Nightbane and his loot will not be part of Mythic+.
[br][br]
[table class=flex-columns]
[tr]
	[td][url=/guide=4774][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-the-curator.png][br]Lower Karazhan[/center][/url][/td]
	[td][url=/guide=4985][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-vizaduum-the-watcher.png][br]Upper Karazhan[/center][/url][/td]
	[td][url=/guide=4990][center][img src=http://wow.zamimg.com/images/wow/journal/ui-ej-boss-mephistroth.png][br]Cathedral of Eternal Night[/center][/url][/td]
[/tr]
[/table]
[br][br]
Players should be prepared with gems, enchantments, flasks, potions, and appropriate stat food. While skipping trash mobs is less of an important part of the strategy than in Challenge Modes,  Invisibility Potions and  Draenic Invisibility Potions do still work in the dungeons and can be useful to skip particularly dangerous stretches of trash.

[minor-heading]Challenger's Burden[/minor-heading]
While inside a Mythic+ dungeon, all players are affected by  [spell=206151]Challenger's Burden[/spell]. Whenever a player dies, 5 seconds is removed from the timer as a penalty. The  [spell=206151]Challenger's Burden[/spell] debuff forces the party to consider whether a "death run" - streaking past a long stretch of trash mobs only to die and be resurrected in a safe location beyond them - is strategically beneficial. In certain cases, such as the opening hallway in Black Rook Hold, the party may determine it is worth saving their potion cooldown (and using potions for 10 minutes), instead of killing the trash or using Invisibility potions.

This also serves as an indicator to the party that they may not be ready for a certain Mythic+ level. If accidental deaths are too frequent, the party will run out its clock long before completing the dungeon. Players will either need to come back with better gear, or improve their techniques and strategies in order to succeed.
[hr]

[major-heading]Mythic Keystones[/major-heading]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10600.jpg]
A level 2 Keystone
[hr]
[img src=http://wow.zamimg.com/uploads/guide/images/10601.jpg]
A level 7 Keystone has Affixes
[/minibox]
Mythic Keystones are special items that allow a player to begin a Mythic+ dungeon. Two examples of Mythic Keystones are shown to the right. The tooltip for these Keystones lists important information:
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
A player may only possess one Mythic Keystone at a time, and will only receive one keystone per week. Even if you delete your current Keystone, you will not receive a new one from any of the possible Keystone sources until the dungeon/raid week has passed. [b]Do not delete Keystones[/b] - though note that, if you do accidentally delete your Keystone, you can recover it through the battle.net Item Restoration service.

[minor-heading]Acquiring the Keystone[/minor-heading]
If you do not have a Keystone, there are three ways to obtain one:
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
With the changes in Patch 7.2, each player will have their own keystone that cannot be depleted. If the level gets too high for your liking, you may lower the Keystone's level by 1 step at a time by starting the dungeon, and then resetting it. You are able to do this while solo.

[minor-heading]Upgrading the Keystone[/minor-heading]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10602.jpg]
Keystones can be upgraded up to 3 levels based on your speed[/minibox]

If you successfully complete a Mythic+ dungeon within the time allotted, the Keystone that was used to start the attempt will become upgraded by at least 1 level. The faster you clear the content, the larger the upgrade, up to a maximum of 3 levels higher.
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]

At the end of the dungeon run, the upgraded Keystone will be placed in the initiating player's bag. Each time a Keystone is upgraded it will select a new dungeon at random from the set of dungeons the initiating player has access to (Cathedral of Eternal Night does not follow this rule). For example, if the player who started the run has not yet unlocked The Arcway/Court of Stars dungeons, the Keystone will only choose from the remaining valid dungeons.

[b]Patch 7.2.5 Update:[/b]
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]

[minor-heading]Depleted Keystone[/minor-heading]
In Patch 7.2.5, Keystones can no longer be depleted!
[hr]

[major-heading]Mythic+ Affixes[/major-heading]
An affix is an additional property that affects the way enemies within the dungeon will behave. These affixes do not appear on low-level Mythic+ dungeons; the first affix is gained at level 4.

If your Keystone has an affix listed on it, then all of the enemies in that Mythic+ dungeon will inherit this property.

[minor-heading]Keystone Level 4 - First Affix[/minor-heading]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10608.jpg]
Affix information appears in the Objectives
frame - this run featured the Sanguine affix[/minibox]

At Mythic Keystone level 4, players will see their first affix. It will be printed on the keystone's tooltip, and information about it will appear both on the Font of Power menu and the Objectives frame (where the timer and kill count are displayed) during the dungeon run. The Level 4 affix will be drawn from the above pool and is chosen at random each week - all players who enter a Level 4+ Mythic+ dungeon will have the same affix.

[minor-heading]Keystone Level 7 - Second Affix[/minor-heading]
At Mythic Keystone level 7, players will see a second affix added to their Keystone. This affix is chosen from the remaining 7 affixes in the above list or the following three affixes added in Patch 7.2:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
This affix is also chosen at random each week - all players who enter a Level 7+ Mythic+ dungeon will have the same two affixes.

Some combinations of affixes may not be "legal" - they may never show up because they would be too harsh. An example would be (Modificateur de donjon Mythique+ #7)/(Modificateur de donjon Mythique+ #5); this would create huge packs of trash that would all buff one another on death, leading to trash mobs that could be impossible to defeat.

[minor-heading]Keystone Level 10 - Third Affix[/minor-heading]
At Mythic Keystone level 10, a new set of affixes is available, but consists of only two choices:

This new affix is added to the existing level 4 and level 7 affixes, so level 10+ Keystones have three affixes in total. As with the level 4 and 7 affixes, these 10+ affixes are chosen at random each week, and all players who enter a Level 10+ Mythic+ Dungeon that week will have the same three affixes.

The aim of these level 10+ affixes is to make the high-level Mythic+ dungeons noticeably more difficult, so that progressing beyond level 10 represents extreme dedication to this type of content. Mythic+ teams who wish to push beyond Mythic+ level 10 are likely to require specific group compositions and use highly refined strategies. Currently, loot does not improve past level 10, and players do not need to beat the level 10 timer to achieve the greatest possible loot reward from Mythic+ content, so all specs and classes should be able to compete for the best loot available.

[minor-heading]Affix Details[/minor-heading]
For more information on any particular affix, click on the corresponding tab below.
[tabs name="Affixes"]
[tab name="Bolstering"]
Enemies who die will buff other nearby enemies with (Sort #209859), causing them to gain 20% health and deal 20% additional damage. This can stack multiple times, resulting in an extremely dangerous enemy that will take a long time to defeat. The range on the buffing ability is 30 yards in 7.2. In addition, mobs affected by the (Sort #209859) buff will become immune to many types of CC (though they are still vulnerable to stuns).

This affix causes the end of a trash fight to be more dangerous than the start. Players should follow these general guidelines:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
The (Modificateur de donjon Mythique+ #7) affix does not apply to adds in a boss encounter. For example, killing the Risen Warriors in the Mythic+ Ymiron fight in Maw of Souls should not apply (Sort #209859) to Ymiron or any of the other Risen Warriors. However, if players drag trash packs into a boss fight, those trash mobs will apply (Sort #209859) to the boss when they die. This is undesirable. If players wish to save time by dragging trash into a boss fight, be sure to pull the trash more than 30 yards away from the boss before killing it.
[/tab]
[tab name="Necrotic"]
Successful melee attacks will apply the (Sort #209858) debuff to the struck player, reducing the potency of healing and absorption shields by 3% per stack, and dealing stacking damage. The (Sort #209858) debuff lasts for 9 seconds in 7.2, but the duration of the debuff is refreshed each time a new stack is applied, so it will be very difficult for tanks to drop their stacks while actively in combat. (Sort #209858) is removed upon dropping combat.

This can stack very rapidly on large trash packs, and can be a nuisance on boss fights. Players should follow these general guidelines:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
At very high Keystone levels, groups may wish to bring two tanks to help manage the (Sort #209858) debuff.
[/tab]
[tab name="Quaking"]
When the (Modificateur de donjon Mythique+ #14) affix is active, at random times throughout the dungeon (regardless of combat) all players will receive the (Sort #240447) debuff and upon expiry inflict damage and interrupting active spell casts to themselves and nearby allies. 

(Sort #240447) can apply when running between bosses and will continue to occur after the dungeon is completed. If your party's composition is melee heavy, make sure to spread out the circles whenever (Sort #240447) is applied.
[/tab]
[tab name="Raging"]
The (Modificateur de donjon Mythique+ #6) affix causes enemies to (Sort #178658) at 30% health, dealing 100% additional damage until they are defeated.

When this affix is active, AoE and cleave damage can be dangerous. Be sure to mark a priority target in each pull, and when that target (Sort #178658)s, focus fire to bring it down quickly. Stuns and other forms of CC can be used to reduce the damage the party will take from (Sort #178658)d mobs.
[/tab]
[tab name="Sanguine"]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10604.jpg]
A pool of Sanguine Ichor[/minibox]
Whenever a non-boss enemy dies, a pool of (Sort #226489) forms at its location. This spell has two effects:
[ul]
[li][/li]
[li][/li]
[/ul]
Tanks must pull the remaining mobs away from the location of the (Sort #226489) pool, and melee DPS must be cautious. It does take several seconds for the (Sort #226489) to form, so there is plenty of time to react and avoid damage.

This affix is particularly difficult when fighting large groups of trivial adds, and may require tanks to clear additional space or pull enemies back into previously cleared areas so there is room to kite. This is also a difficult mechanic in any area where the predominant floor color is red - particularly in the Oakheart-to-Dresaron stretch of Darkheart Thicket.

In 7.2, Sanguine pools have been changed to apply their first damage tick immediately. This means that it's more important to place the pools of sanguine in safe locations so that the group may traverse the dungeon without taking a large amount of damage from crossing the sanguine pools after combat has ended.
[/tab]
[tab name="Skittish"]
The (Modificateur de donjon Mythique+ #2) affix causes tank threat to be less potent, meaning that DPS players are likely to pull threat off of the tank if not careful. Tanks should mark a priority target on which they will be focusing the brunt of their attacks, and DPS should try to avoid dealing too much damage to the non-priority targets.

Hunters and Rogues should help the tank by using (Sort #34477) and (Sort #57934) respectively.
[/tab]
[tab name="Teeming"]
In a (Modificateur de donjon Mythique+ #5) dungeon, the number of trash mobs that players must kill in order to meet the "Enemy Forces" requirement is increased to accommodate the additional trash.
The (Modificateur de donjon Mythique+ #5) affix causes extra mobs to spawn in particular trash packs. Not every pack is affected, but many of the most dangerous trash packs are.
[/tab]
[tab name="Explosive"]
The (Modificateur de donjon Mythique+ #13) affix causes enemies that you are currently in combat with to spawn Fel Explosives within 3 yards of its current location. These Fel Explosives will begin to cast (Sort #240446) and if successful, will detonate dealing a significant amount of damage. Fel Explosives have a very small amount of HP but are completely immune to AoE spells such as (Sort #190356) and (Sort #191034). 

Since every monster has a chance to spawn Fel Explosives, be careful about pulling too many monsters at a time. If you pull too many, you might spend all your time killing Fel Explosives and not actually hitting the monsters themselves!

These orbs are the top priority for all players!
[/tab]
[tab name="Grievous"]
The (Modificateur de donjon Mythique+ #12) affix is particularly dangerous against monsters that deal consistant AoE damage. When a player falls below 90% health, the (Sort #240559) DoT is applied and begins to stack every couple of seconds until the player reaches full health. These stacks will cap at 5 but it's important for the healer to remove these as soon as possible to avoid falling behind. DPS should avoid taking as much damage as possible this week, since taking damage is extra punishing due to the (Sort #240559) debuff.
[/tab]
[tab name="Bursting"]
(Modificateur de donjon Mythique+ #11), is essentially one of the main mechanics from Mythic: Il'gynoth in the Emerald Nightmare. Whenever a monster is killed, all players will get a stack of (Sort #240443) which will stack. One or two stacks will not be deadly, but killing an entire pack of 8 packs simultaneously will probably end up killing the party. 

During (Modificateur de donjon Mythique+ #11), it's important to stagger the deaths of the enemy forces so that the debuff doesn't stack up too high. Be careful not to use too many AoE abilities and kill the monsters too soon.

Immunity abilities such as (Sort #31224) and (Sort #45438) will remove all current stacks and prevent future stacks from applying.
[/tab]
[tab name="Volcanic"]
[minibox float=right]
[table][tr][td]
[img src=http://wow.zamimg.com/uploads/guide/images/10605.jpg]
A Volcanic Plume
[/td][td]
[img src=http://wow.zamimg.com/uploads/guide/images/10606.jpg height=239]
Move before it erupts
[/td][/tr][/table]
[/minibox]
Enemies in a (Modificateur de donjon Mythique+ #3) dungeon will cause (PNJ #105877)s to spawn beneath the feet of distant players. Two seconds later, the (Sort #209862) will erupt, dealing damage equal to 50% of the player's health to any player standing within 2 yards of the Plume. Both boss and trash mobs will cause Volcanic Plumes to form.

When fighting a single enemy, a (PNJ #105877) will form approximately every 10 seconds.

Note that "distant" refers to the distance from the enemy mob. In most cases, melee DPS and tanks do not have to worry about this mechanic, and if ranged DPS and healers stand close to the enemies, (PNJ #105877)s may not spawn. However, if there is an enemy that leaps away, or an add that spawns far from its summoner, (PNJ #105877)s may begin to appear in melee range. This can occur during the following notable fights:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
(Sort #209862)s can be difficult to see during bright or busy ground effects. Players should move out of the (Sort #209862) immediately upon noticing it, and may wish to preemptively move during mechanics such as Eye of the Storm in the Hyrja encounter, where constant unavoidable damage combined with the (Sort #209862) hit could cause a fatality.
[/tab]
[tab name="Fortified (10+)"]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10635.jpg]
(Modificateur de donjon Mythique+ #10) is multiplicative with the Mythic+
damage and health modifiers[/minibox]
This affix will only affect Keystones of level 10 or higher. In a (Modificateur de donjon Mythique+ #10) dungeon, all of the trash mobs have 20% more health and deal 30% additional damage.
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
(Modificateur de donjon Mythique+ #10)'s damage and health bonuses are multiplicative with the Mythic+ damage and health bonuses shown in the table above. This means that on Mythic +10, the trash will all have 140% additional health and deal 180% additional damage. Certain trash packs may be able to one-shot party members with their mechanics under this affix; for example, the (PNJ #96664) in (Zone #7672) may instantly kill players with (Sort #198962) if it is allowed to cast. Interrupts and performing trash mechanics properly are very important!

(Modificateur de donjon Mythique+ #10) is particularly dangerous in combination with (Modificateur de donjon Mythique+ #7), (Modificateur de donjon Mythique+ #6), or (Modificateur de donjon Mythique+ #5) affixes.
[/tab]
[tab name="Tyrannical (10+)"]
[minibox float=right]
[img src=http://wow.zamimg.com/uploads/guide/images/10608.jpg]
(Modificateur de donjon Mythique+ #9) greatly increases the
danger of boss fights[/minibox]
This affix will only affect Keystones of level 10 or higher. In a (Modificateur de donjon Mythique+ #9) dungeon, all of the bosses have 40% more health and deal 15% additional damage.
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
(Modificateur de donjon Mythique+ #9)'s damage and health bonuses are multiplicative with the Mythic+ damage and health bonuses shown in the table above. This means that on Mythic +10, bosses will all have 180% additional health and deal 140% additional damage. Certain bosses that gain percent-based damage modifiers during the course of their encounter pose particular problems in (Modificateur de donjon Mythique+ #9) dungeons:
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
[/tab]
[/tabs]

[major-heading]Loot[/major-heading]
There are two types of loot associated with Mythic+ Dungeons: a chest at the end of the instance, and a chest from your Class Hall the week after.
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]
Artifact Power rewards are receiving some updates in Patch 7.2:

Mythic Keystones can now direct you to, Lower Karazhan, Upper Karazhan, and the new in 7.2 dungeon. Cathedral of Eternal Night.
[ul]
[li][/li]
[/ul]
[quote]
Artifact Power rewards for Mythic Keystone dungeons have been adjusted:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]
[/quote]

[minor-heading]Artifact Power[/minor-heading]
Here is the detailed breakdown of what dungeons reward what type of Artifact Power:
[table class=grid] 
  [tr]
    [td][b]Level[/b][/td]
    [td][b]Lesser Dungeons (@AK 40)[/b][/td]
    [td][b]Medium Dungeons (@AK 40)[/b][/td]
    [td][b]Greater Dungeons (@AK 40)[/b][/td]
[/tr]
  [tr]
    [td]2[/td]
    [td][url=//ptr.wowhead.com/item=147398?artk=40](Objet #147398)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147402?artk=40](Objet #147402)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147406?artk=40](Objet #147406)[/url][/td]
[/tr]
  [tr]
    [td]3[/td]
    [td][url=//ptr.wowhead.com/item=147398?artk=40](Objet #147398)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147402?artk=40](Objet #147402)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147406?artk=40](Objet #147406)[/url][/td]
[/tr]
  [tr]
    [td]4[/td]
    [td][url=//ptr.wowhead.com/item=147399?artk=40](Objet #147399)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147403?artk=40](Objet #147403)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147407?artk=40](Objet #147407)[/url][/td]
[/tr]
  [tr]
    [td]5[/td]
    [td][url=//ptr.wowhead.com/item=147399?artk=40](Objet #147399)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147403?artk=40](Objet #147403)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147407?artk=40](Objet #147407)[/url][/td]
[/tr]
  [tr]
    [td]6[/td]
    [td][url=//ptr.wowhead.com/item=147399?artk=40](Objet #147399)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147403?artk=40](Objet #147403)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147407?artk=40](Objet #147407)[/url][/td]
[/tr]
  [tr]
    [td]7[/td]
    [td][url=//ptr.wowhead.com/item=147400?artk=40](Objet #147400)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147404?artk=40](Objet #147404)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147408?artk=40](Objet #147408)[/url][/td]
[/tr]
  [tr]
    [td]8[/td]
    [td][url=//ptr.wowhead.com/item=147400?artk=40](Objet #147400)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147404?artk=40](Objet #147404)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147408?artk=40](Objet #147408)[/url][/td]
[/tr]
  [tr]
    [td]9[/td]
    [td][url=//ptr.wowhead.com/item=147400?artk=40](Objet #147400)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147404?artk=40](Objet #147404)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147408?artk=40](Objet #147408)[/url][/td]
[/tr]
  [tr]
    [td]10[/td]
    [td][url=//ptr.wowhead.com/item=147401?artk=40](Objet #147401)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147405?artk=40](Objet #147405)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147409?artk=40](Objet #147409)[/url][/td]
[/tr]
  [tr]
    [td]11-14[/td]
    [td][url=//ptr.wowhead.com/item=147401?artk=40](Objet #147401)[/url] + 1-4 bonus [url=//ptr.wowhead.com/item=147808?artk=40](Objet #147808)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147405?artk=40](Objet #147405)[/url] + 1-4 bonus [url=//ptr.wowhead.com/item=147809?artk=40](Objet #147809)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147409?artk=40](Objet #147409)[/url] + 1-4 bonus [url=//ptr.wowhead.com/item=147810?artk=40](Objet #147810)[/url][/td]
[/tr]
  [tr]
    [td]15+[/td]
    [td][url=//ptr.wowhead.com/item=147719?artk=40](Objet #147719)[/url] + 0-15 bonus [url=//ptr.wowhead.com/item=147808?artk=40](Objet #147808)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147718?artk=40](Objet #147718)[/url] + 0-15 bonus [url=//ptr.wowhead.com/item=147809?artk=40](Objet #147809)[/url][/td]
    [td][url=//ptr.wowhead.com/item=147720?artk=40](Objet #147720)[/url] + 0-15 bonus [url=//ptr.wowhead.com/item=147810?artk=40](Objet #147810)[/url][/td]
[/tr] 
[/table]
[br]
Dungeon descriptions:
[ul]
[li][/li]
[li][/li]
[li][/li]
[/ul]

There are also Artifact Power rewards from the Class Hall Chests awarded weekly.
[table class=grid] 
  [tr]
    [td][b]Level[/b][/td]
    [td][b]Minimum Item Level[/b][/td]
    [td][b]AP (@AK 40)[/b][/td]
[/tr]
  [tr]
    [td]2[/td]
    [td]875[/td]
    [td][url=//ptr.wowhead.com/item=147551?artk=40](Objet #147551)[/url][/td]
[/tr]
  [tr]
    [td]3[/td]
    [td]880[/td]
    [td][url=//ptr.wowhead.com/item=147551?artk=40](Objet #147551)[/url][/td]
[/tr]
  [tr]
    [td]4[/td]
    [td]885[/td]
    [td][url=//ptr.wowhead.com/item=147550?artk=40](Objet #147550)[/url][/td]
[/tr]
  [tr]
    [td]5[/td]
    [td]890[/td]
    [td][url=//ptr.wowhead.com/item=147550?artk=40](Objet #147550)[/url][/td]
[/tr]
  [tr]
    [td]6[/td]
    [td]890[/td]
    [td][url=//ptr.wowhead.com/item=147550?artk=40](Objet #147550)[/url][/td]
[/tr]
  [tr]
    [td]7[/td]
    [td]895[/td]
    [td][url=//ptr.wowhead.com/item=147549?artk=40](Objet #147549)[/url][/td]
[/tr]
  [tr]
    [td]8[/td]
    [td]895[/td]
    [td][url=//ptr.wowhead.com/item=147549?artk=40](Objet #147549)[/url][/td]
[/tr]
  [tr]
    [td]9[/td]
    [td]900[/td]
    [td][url=//ptr.wowhead.com/item=147549?artk=40](Objet #147549)[/url][/td]
[/tr]
  [tr]
    [td]10[/td]
    [td]905[/td]
    [td][url=//ptr.wowhead.com/item=147548?artk=40](Objet #147548)[/url][/td]
[/tr]
  [tr]
    [td]11-14[/td]
    [td]905[/td]
    [td][url=//ptr.wowhead.com/item=147548?artk=40](Objet #147548)[/url] + a [url=//ptr.wowhead.com/item=147819?artk=40](Objet #147819)[/url] token for every level after 10.[/td]
[/tr]
  [tr]
    [td]15+[/td]
    [td]905[/td]
    [td][url=//ptr.wowhead.com/item=147721?artk=40](Objet #147721)[/url] + a [url=//ptr.wowhead.com/item=147819?artk=40](Objet #147819)[/url] token (or equivalent AP token) for every level after 15.[/td]
[/tr] 
[/table]

[minor-heading]Gear[/minor-heading]
Dungeon Chest drops are taken from the loot table for the dungeon the players have completed.

Class Hall Chest drops may be from any dungeon, including dungeons you have not yet unlocked (e.g. Court of Stars/The Arcway) or dungeons that do not have a M+ mode (e.g. Violet Hold). This gear will be at least a Warforged version of the type of gear you would have gotten from your best Mythic+ dungeon - so for example, if you cleared a Mythic 5, you will get at least a Mythic 5 Warforged item. The chart below shows the minimum ilvl you will get from each source:

[b]In Patch 7.2.5, the Dungeon and Class Hall Chests will scale up to level 15 once Tomb opens. The item level cap is currently unknown and will be updated once Tomb releases.[/b]
[code]Here is some tweets[/code]

[table class=grid] 
  [tr]
    [td][b]Level[/b][/td]    [td][b]Dungeon Chest[/b][/td]    [td][b]Class Hall Chest[/b][/td]
[/tr]
  [tr]
    [td]Regular Mythic[/td]    [td]865[/td]    [td]N/A[/td]
[/tr]
  [tr]
    [td]2[/td]    [td]870[/td]    [td]875[/td]
[/tr]
  [tr]
    [td]3[/td]    [td]870[/td]    [td]880[/td]
[/tr]
  [tr]
    [td]4[/td]    [td]875[/td]    [td]885[/td]
[/tr]
  [tr]
    [td]5[/td]    [td]875[/td]    [td]890[/td]
[/tr]
  [tr]
    [td]6[/td]    [td]880[/td]    [td]890[/td]
[/tr]
  [tr]
    [td]7[/td]    [td]880[/td]    [td]895[/td]
[/tr]
  [tr]
    [td]8[/td]    [td]885[/td]    [td]895[/td]
[/tr]
  [tr]
    [td]9[/td]    [td]885[/td]    [td]900[/td]
[/tr]
  [tr]
    [td]10[/td]    [td]890[/td]    [td]905[/td]
[/tr]
  [tr]
    [td]11[/td]    [td]???[/td]    [td]???[/td]
[/tr]
  [tr]
    [td]12[/td]    [td]???[/td]    [td]???[/td]
[/tr]
  [tr]
    [td]13[/td]    [td]???[/td]    [td]???[/td]
[/tr]
  [tr]
    [td]14[/td]    [td]???[/td]    [td]???[/td]
[/tr]
  [tr]
    [td]15[/td]    [td]???[/td]    [td]???[/td]
[/tr] 
[/table]

All this loot has a chance to be Warforged or Titanforged, up to the titanforging cap. If an item appears up to 10 ilvls above the base, it will be marked as Warforged in the tooltip. If an item procs +15 or higher, it wll be marked as Titanforged. 

[b]Mythic+ Caches in 7.2.5 now reward 20 (Objet #151375), needed to upgrade your legendary to ilvl 970 in (Quête #47790).[/b]
[hr]
[major-heading]Achievements[/major-heading]
[ul]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[li][/li]
[/ul]

[hr]
[major-heading]Appearances[/major-heading]
Below is a list of all tints associated with (Haut fait #11162):

[center]
[table class=grid width=70%] 
  [tr]
    [td colspan=6 align=center class=c6] Chevalier de la mort [pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539940.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539890.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539918.jpg width=250][/url][/div][pad][/td]
[/tr] 
[tr]
    [td  colspan=6 align=center class=c12] Chasseur de démon [pad][/td]
[/tr]
  [tr]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/490389.jpg width=250][/url][/div][pad][/td]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/490369.jpg width=100][/url][/div][pad][/td]
[/tr] 
[tr]
    [td colspan=6 align=center class=c11] Druide [pad][/td]
[/tr]
  [tr]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539834.jpg width=250][/url][/div][pad][/td]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539870.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539814.jpg width=250][/url][/div][pad][/td]
    [td colspan=3][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539783.jpg width=250][/url][/div][pad][/td]
[/tr] 
  [tr]
    [td colspan=6][pad][div align=center class=c3] Chasseur [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532386.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532460.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532482.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c8] Mage [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532251.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532278.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532332.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c10] Moine [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539710.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539735.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539759.jpg height=150][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c2] Paladin [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539690.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/534292.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/533897.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c5] Prêtre [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/533415.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/533433.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/533458.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c4] Voleur [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/534422.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539666.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539634.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c7] Shaman [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539566.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/534377.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539520.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539612.jpg width=250[/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/534398.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/540344.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c9] Démoniste [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539466.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539539.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/539581.jpg width=250][/url][/div][pad][/td]
[/tr]
  [tr]
    [td colspan=6][pad][div align=center class=c1] Guerrier [/div][pad][/td]
[/tr]
  [tr]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/531988.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/531968.jpg width=250][/url][/div][pad][/td]
    [td colspan=2][pad][div align=center][img src=//wow.zamimg.com/uploads/screenshots/small/532014.jpg width=250][/url][/div][pad][/td]
[/tr] 
[/table]
[/center]
